<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆</title>
</head>
<body>
<h1>用户登陆</h1>
<form method="post" action="__URL__/do_login">
    <table>
        <tr>
            <td><label for="username">账号</label></td>
            <td><input type="text" name="username" id="username" required/></td>
        </tr>
        <tr>
            <td><label for="password">密码</label></td>
            <td><input type="password" name="password" id="password" required/></td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <button>登陆</button>
                <button type="reset">重置</button>
            </td>
        </tr>
    </table>
</form>
<p>
    <a href="__URL__/register">没有有账号？点击注册</a>
</p>

</body>
</html>
